<section class="createPromocode">
  <div class="panel panel-default">
    <div class="panel-heading">Dodaj nowy kod promocyjny</div>
    <div class="panel-body">
      <form name="createForm">
        <div class="form-group" ng-class="createForm.name.$dirty && createForm.name.$invalid ? 'has-error' : ''">
          <label for="name">Nazwa kody promocyjnego:</label>
          <input ng-model="createPromocode.name"
                 type="text"
                 class="form-control"
                 name="name"
                 id="name"
                 placeholder="Podaj nazwe kodu promocyjnego"
                 ng-maxlength="50"
                 required>
        </div>
        <div class="form-group" ng-class="createForm.type.$dirty && createForm.type.$invalid ? 'has-error' : ''">
          <label for="type">Typ:</label>
          <select ng-model="createPromocode.type" name="type" id="type" class="form-control" required>
            <option value="percent">Procentowy</option>
            <option value="overall">Całościowy</option>
          </select>
        </div>
        <div class="form-group" ng-class="createForm.value.$dirty && createForm.value.$invalid ? 'has-error' : ''">
          <label for="value">Wartość:</label>
          <input ng-model="createPromocode.value" type="number" class="form-control" name="value" id="value"
                 placeholder="Podaj wartość" required>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group" ng-class="createForm.code.$dirty && createForm.code.$invalid ? 'has-error' : ''">
              <label for="code">Kod promocyjny:</label>
              <input ng-model="createPromocode.code"
                     ng-maxlength="20"
                     type="text"
                     class="form-control"
                     name="code"
                     id="code"
                     placeholder="Podaj kod promocyjny"
                     required>
            </div>
          </div>
          <div class="col-md-4">
            <label for="code">Wygeneruj kod promocyjny:</label>
            <button ng-click="createPromocode.generate()" type="button" class="btn btn-default btn-block">Wygeneruj
              automatycznie
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="available">Dostępność:</label>
          <input ng-model="createPromocode.available" id="available" type="checkbox" checked="true">
        </div>
      </form>
      <div class="pull-right">
        <button ng-click="createForm.$valid && createPromocode.save()"
                ng-disabled="createForm.$invalid"
                class="btn btn-success">Zapisz kod promocyjny
        </button>
      </div>
    </div>
  </div>
</section>
